* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

header {
  background-color: #000000;
}

header .header-top {
  padding: 10px 15px;
}

header .header-top ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header .header-top ul li {
  padding: 0 15px;
}

header .header-top ul li i {
  font-size: 15px;
  color: #009CFF;
}

header .header-top ul li a {
  margin-left: 3px;
  color: #989898;
}

header .header-top ul li a:hover {
  text-decoration: underline;
  color: white;
}

header .header-bottom {
  padding: 10px 15px;
}

header .header-bottom ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .header-bottom ul li a {
  color: white;
}

header .header-bottom ul li a img {
  width: 100%;
}

header .header-bottom ul li i {
  font-size: 9px;
  color: #989898;
}

footer .footer-top {
  background-color: #ECECEC;
  padding: 40px 20px 10px 30px;
}

footer .footer-top .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

footer .footer-top .container ul {
  list-style: none;
}

footer .footer-top .container ul li {
  margin: 10px 0;
}

footer .footer-top .container ul li span {
  color: #000000;
  font-weight: bold;
}

footer .footer-top .container ul li a {
  color: #4d4d4d;
}

footer .footer-top .container ul li a:hover {
  text-decoration: underline;
}

footer .footer-top .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

footer .footer-bottom {
  background-color: #1E1E1E;
  padding: 10px 20px 20px 20px;
}

footer .footer-bottom .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .container .left ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer .footer-bottom .container .left ul li {
  margin: 0 10px;
}

footer .footer-bottom .container .right ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .footer-bottom .container .right ul li {
  margin: 0 10px;
}

footer .footer-bottom .container .right ul li a {
  color: #989898;
}

footer .footer-bottom .container .right ul li a:hover {
  text-decoration: underline;
}

footer .footer-bottom .container .right ul li span {
  color: white;
}

