*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    @include flex(column, space-between, none);
    font-family: $font_family;
    font-size: $font_size;
}

.container{
    max-width: 1200px;
    margin: auto;
}

a{
    text-decoration: none;
}
