header{
    background-color: #000000;
    .header-top{
        padding: 10px 15px;
        ul{
            @include flex(row, flex-end, center);
            li{
                padding: 0 15px;
                i{
                    font-size: 15px;
                    color: $icon_color;
                }
                a{
                    margin-left: 3px;
                    color: $font_color_grey;
                    &:hover{
                        text-decoration: underline;
                        color: $font_color_white;
                    }
                }
            }
        }
    }
    .header-bottom{
        padding: 10px 15px;
        ul{
            list-style: none;
            @include flex(row, space-around, center);
            li{
                a{
                    color: $font_color_white;
                    img{
                        width: 100%;
                    }
                }
                i{
                    font-size: 9px;
                    color: $font_color_grey;
                }
            }
        }
    }
}
